header {
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbar {
    background-color: rgb(210, 179, 250) !important;
    color:  rgb(84,65,109);
    font-weight: bolder;
    max-width: 1320px;
    min-width: 1320px;
    border-radius: 10px;
}

.container {
    padding-top: 8px !important;
}

.centered-button {
    width: 90%;
    margin: 15px auto;
    display: block;
    text-transform: uppercase;
    background-color: rgb(255, 251, 220);
    height: 45px;
    font-weight: bolder;
}

#weatherInfoContainer {
    background-color: rgb(84,65,109);
    border-radius: 10px;
    
}

#searchBox {
    flex-basis: 30%; 
    border-bottom: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
}

#searchHistory {
    border-top: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 0 !important;
    padding-top: 20px;
}

#searchCity {
        width: 90%;
        margin: 15px auto;
        display: block;
        text-transform: uppercase;
        background-color: rgb(174, 35, 47);
        color: rgb(255, 255, 255);
        font-size:larger;
        font-weight: bold;
}

.h1 {
    text-transform: uppercase;
}

#weatherDisplayMain {
    display: flex;
    flex-wrap: nowrap;
}

#mainWeatherInfo {
    color: rgb(236, 255, 255);
    padding: 20px;
    padding-top: 30px;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-radius: 10px 0 0 10px;
    background-color: rgb(84,65,109);
    display: block;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

#mainWeatherIcon {
    color: rgb(236, 255, 255);
    padding: 0px;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-radius: 0 10px 10px 0;
    background-color: rgb(84,65,109);
    display: block;
    justify-content: space-between;
    width: 45%;
    display: flex;
    align-items:baseline;
}

.aside {
    color: rgb(236, 255, 255);
    padding: 20px;
    padding-top: 30px;
    border-radius: 10px;
    background-color: rgb(29, 22, 39);
}



#futureWeatherDisplay > h3 {
    margin-bottom: 20px;
}

#futureWeatherDisplay {
    color: rgb(236, 255, 255);
    padding: 20px;
    background-color: rgb(84,65,109);;
    border-top: 3px solid rgb(255, 255, 255);
    border-radius: 10px;    
}

#futureWeatherDisplay > div > .card {
    color: black;
    background-color:rgb(187, 174, 203);
    margin-bottom: 20px;
    border: none;
}

#weatherDisplaySecondary > div > div.card.project-card {
    border: none;
}


.form-control {
    max-width: 90%;
}

.mainCountryInfo {
    line-height: 70%;
}

.swim-lanes {
    display: flex;
    justify-content: space-between;
}
.swim-lane {
    flex: 1;
    margin: 0 5px;
}
.card {
    margin-bottom: 20px;
}

#weatherDisplaySecondary > * {
    border-radius: 10px !important;
    
}

.project-card * {
    padding: 5px;
    line-height: 25px;
}

.card-header {
    color: rgb(0, 35, 88);
}

